<!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="utf-8">
            <title>StarFilm</title>
            <meta name="Autores" content="Jaime Carrasco, Marta Nieto y Ignacio Titos">
            <link rel="stylesheet" href="inicio.css">
        </head>
        <body>
            <header>
                <h1>StarFilm Comparator</h1>
            </header>
            <section class="form-register">
                <h4>Ingrese una Película</h4>
                <form action="/busqueda" method="post">
                    <input class ="control" type="text" name="Buscador" placeholder="Película"/><br/>
                    <input class ="boton" type="submit" value="Search"/>
                </form>
            </section>
        </body>
    </html>