<!DOCTYPE html>
    <html lang="es">
        <head>
            <meta charset="utf-8">
            <title>StarFilm</title>
            <meta name="Autores" content="Jaime Carrasco, Marta Nieto y Ignacio Titos">
        </head>
        <body>
            <header>
                <h1>StarFilm Comparator</h1>
            </header>
            <main>
                <form action="/busqueda" method="post">
                    <label for="Buscador">Película:</label>
                    <input type="text" name="Buscador"/><br/>
                    <input type="submit" value="Search"/>
                </form>
            </main>
        </body>
    </html>